body {
	border: 1px solid green;
}
.die {
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	line-height: 50px;
}
.highlight {
	background-color: yellow;
}