body {
	background-image: url("../images/feltbackground.jpg");
	color: white;
	margin: 0 auto;
	text-align: center;
	font-family: "Optima", "sans-serif";
}
.header {
	width: 162px;
	height: 230px;
}
.die {
	display: inline-block;
}
.highlight {
	background-color: yellow;
	color: black;
	border-radius: 5px;
}
img {
	height: 75px;
	width: 75px;
}
.diceBackground {
	size: 100%;
}
.messages {
	color: red;
	/*border: 1px solid black;*/
}
.handDie {
	opacity: 0.5;
}
.mt-10 {
	margin-top: 10px;
}
